

.popBox {
    display: block;     
}

.box {
    width: 300px;
    display: block;
}

.entry {
    margin: 15px 0px;
    clear: both;
}

#progress {
    width: 150px;
    display: block;
    float: left;    
}

#createUser {               
    float: right;    
    
}

#loginOK {
    float: right;    
    width: 32px;
}

#sitePassword {     
    width: 300px;    
}

body {
    background: #FFF;
}

.mainDiv {    
 
    width: 305px;
    height: 100%;
    
    /* This is the key line that centers the middle column--it's buggy in certain versions of IE though. */    
    margin: 0 auto;
 
    /* Override IE hack */
    text-align: left;    
 
    /* So you can see it in action */
    /*background: #EEE;*/
    /*height: 100%;*/
}

#siteType {
    width: 305px;
}



div.progress {
    margin: 20px 0px 0px 0px;    
}

#siteCounter {
    width: 273px;
}

.validate {
    margin: 20px 0px;
    clear: both;
    float: right;
}
