html {
    background:         radial-gradient(black 15%, transparent 16%) 0 0,
                        radial-gradient(black 15%, transparent 16%) 8px 8px,
                        radial-gradient(rgba(255,255,255,.05) 15%, transparent 20%) 0 1px,
                        radial-gradient(rgba(255,255,255,.05) 15%, transparent 20%) 8px 9px;
    background-color:   #161616;
    background-size:    16px 16px;

    width:              100%;
    height:             100%;
    padding:            0;
    margin:             0;
}

body {
    background:         radial-gradient(transparent 16%, black);

    width:              100%;
    min-height:         100%;
    padding:            0;
    margin:             0;
    clear:              both;
    
    font-family:        'Exo 2',
                        "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
                        Arial, "Lucida Grande", sans-serif; 
    font-weight:        300;
    color:              #DDD;
    text-align:         center;
}

a:link {
    color: #DDD;
}

a:visited {
    color: #999;
}

.ui-widget {
    text-align: center;
}

#progress {
    background: rgba( 20, 20, 20, 0.5 );    
    margin: 0px 0px 20px 0px;    
}

#userName2, #masterPassword2, #email {
    width: 315px;
}

#recaptcha_response_field {
    height:             1em;
    margin:             0 0;
}
.popBox {
    display: block;     
}

.box {
    width: 300px;
    display: block;
}

.entry {
    margin: 15px 0px;
    clear: both;
}

.ui-dialog-titlebar-close {
    display: none;
}        

#progress {
    width: 150px;
    display: block;
    float: left;    
}

#loginStatus {
    float: right;
}

#loginOK {
    width: 32px;
}

#sitePassword {     
    width: 300px;    
}

.mainDiv {    
 
    width: 305px;
    height: 100%;
    
    /* This is the key line that centers the middle column--it's buggy in certain versions of IE though. */    
    margin: 0 auto;
 
    /* Override IE hack */
    text-align: left;    
 
    /* So you can see it in action */
    /*background: #EEE;*/
    /*height: 100%;*/
}

#siteType {
    width: 305px;
}

#siteCounter {
    width: 273px;
}

.validate {
    margin: 20px 0px;
    clear: both;
    float: right;
}

small {
    font-size: 0.6em;
}